<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title"> Will end soon</h4>
      </div>
      <div class="card-body">
        <products-table [productsPage]="productsData" [showSearch]="false" (refresh)="onTableRefresh($event)"></products-table>
        <div class="row">
          <div class="col-sm-12">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
