<div class="wrapper">
  <div class="sidebar">

    <div class="sidebar-wrapper">
      <div class="logo">
        <a href="javascript:void(0)" class="simple-text logo-normal">
          Menu
        </a>
      </div>
      <ul class="nav">
        <li>
          <a routerLink="/dashboard/products">
            <i class="tim-icons icon-chart-pie-36"></i>
            <p>Products</p>
          </a>
        </li>
        <li class="">
          <a routerLink="/dashboard/products/will-end-soon">
            <i class="tim-icons icon-chart-pie-36"></i>
            <p>Will End Soon</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <a class="navbar-brand" href="javascript:void(0)">Warehouse Management System</a>
        </div>
        <div class="collapse navbar-collapse" id="navigation">
          <ul class="navbar-nav ml-auto">
            <li class="dropdown nav-item">
              <button (click)="onLogoutButtonClick()" class="btn btn-link" id="logout-button">
                <i class="tim-icons icon-button-power"></i>
                <span class="d-lg-none d-md-block">Log out</span>
              </button>
            </li>
            <li class="separator d-lg-none"></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- End Navbar -->
    <div class="content">
      <div class="row">
        <div class="col-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <footer class="footer">

    </footer>
  </div>
</div>
