<div class="login container">
  <div class="card align-middle">
    <div class="card-body">
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" [(ngModel)]="loginFormModel.username" [ngModelOptions]="{standalone: true}" class="form-control" id="username" placeholder="Enter username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" [(ngModel)]="loginFormModel.password" [ngModelOptions]="{standalone: true}" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="">
            Remember me
            <span class="form-check-sign">
                  <span class="check"></span>
              </span>
          </label>
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</div>
