<div *ngIf="productsPage" class="table-responsive">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="dataTables_length bs-select" id="dtBasicExample_length"><label>Show
        <select
          (change)="onPageSizeChange($event.target.value)"
          name="dtBasicExample_length" aria-controls="dtBasicExample"
          class="form-control form-control-sm">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select></label>
      </div>
    </div>
    <div *ngIf="showSearch" class="col-sm-12 col-md-6">
      <div id="dtBasicExample_filter" class="dataTables_filter"><label>Search:<input
        (change)="onSearchChange($event.target.value)" type="search"
        [(ngModel)]="search" [ngModelOptions]="{standalone: true}"
        class="form-control form-control-sm"
        placeholder=""
        aria-controls="dtBasicExample"></label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table tablesorter " id="">
        <thead class=" text-primary">
        <tr>
          <th>
            Title
          </th>
          <th>
            Brand
          </th>
          <th>
            Price
          </th>
          <th class="text-center">
            Quantity
          </th>
          <th class="text-right">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of productsPage.content">
          <td>
            {{product.title}}
          </td>
          <td>
            {{product.brand}}
          </td>
          <td>
            {{product.price}}
          </td>
          <td class="text-center">
            {{product.quantity}}
          </td>
          <td class="td-actions text-right">
            <button *ngIf="oauthService.isAdmin()" type="button" (click)="onEditButtonClick(product.id)" rel="tooltip"
                    class="btn btn-success btn-sm btn-round btn-icon">
              <i class="tim-icons icon-settings"></i>
            </button>
            <button *ngIf="oauthService.isAdmin()" type="button" (click)="onDeleteButtonClick(product.id)" rel="tooltip"
                    class="btn btn-danger btn-sm btn-round btn-icon">
              <i class="tim-icons icon-simple-remove"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-5">
      <div class="dataTables_info" id="dtBasicExample_info" role="status" aria-live="polite">Showing
        {{productsPage.pageable.pageNumber * (productsPage.pageable.pageSize) + 1}} to {{(productsPage.pageable.pageNumber) *
        (productsPage.pageable.pageSize) + productsPage.numberOfElements}} of {{productsPage.totalElements}} entries
      </div>
    </div>
    <div *ngIf="productsPage" class="col-sm-12 col-md-5">

      <button type="button" class="btn btn-success btn-sm btn-icon" (click)="onPageSelect(currentPage-1)" *ngIf="currentPage>1"><</button>
      <button type="button" class="btn btn-success btn-sm btn-icon"(click)="onPageSelect(currentPage-2)" *ngIf="currentPage == productsPage.totalPages && productsPage.totalPages > 2">{{currentPage-2}}</button>
      <button type="button" class="btn btn-success btn-sm btn-icon" (click)="onPageSelect(currentPage-1)" *ngIf="currentPage>1" >{{currentPage-1}}</button>
      <button type="button" class="btn btn-success btn-sm btn-icon disabled"  (click)="onPageSelect(currentPage)">{{currentPage}}</button>
      <button type="button" class="btn btn-success btn-sm btn-icon" (click)="onPageSelect(currentPage+1)" *ngIf="currentPage<productsPage.totalPages">{{currentPage + 1}}</button>
      <button type="button" class="btn btn-success btn-sm btn-icon" (click)="onPageSelect(currentPage+2)" *ngIf="currentPage == 1 && productsPage.totalPages > 2">{{currentPage + 2}}</button>
      <button type="button" class="btn btn-success btn-sm btn-icon" (click)="onPageSelect(currentPage+1)" *ngIf="currentPage<productsPage.totalPages">></button>



    </div>
  </div>


</div>
