<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Products</h4>
      </div>
      <div class="card-body">
        <products-table [productsPage]="productsData" (refresh)="onTableRefresh($event)"></products-table>
        <div class="row">
          <div class="col-sm-12">
            <button *ngIf="oauthService.isAdmin()" type="button" (click)="onCreateButtonClick()" class="btn btn-primary">Create</button>
            <button type="button" (click)="onExportXlsButtonClick()" class="btn btn-primary">Export XLS</button>
            <button type="button" (click)="onExportCsvButtonClick()" class="btn btn-primary">Export CSV</button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="oauthService.isAdmin()" class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Import XLS</h4>
          </div>
          <div class="card-body">
            <products-import [type]="'xls'" (onImport)="onImportComplete()"></products-import>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Import CSV</h4>
          </div>
          <div class="card-body">
            <products-import [type]="'csv'" (onImport)="onImportComplete()"></products-import>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
