<div class="container">
  <div *ngIf="product" class="card align-middle">
    <div class="card-body">
      <form #productForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" [(ngModel)]="product.title" [ngModelOptions]="{standalone: true}" class="form-control" id="title" placeholder="Enter title">
        </div>

        <div class="form-group">
          <label for="brand">Brand</label>
          <input type="text" [(ngModel)]="product.brand" [ngModelOptions]="{standalone: true}" class="form-control" id="brand" placeholder="Enter brand">
        </div>

        <div class="form-group">
          <label for="size">Size</label>
          <input type="text" [(ngModel)]="product.size" [ngModelOptions]="{standalone: true}" class="form-control" id="size" placeholder="Enter size">
        </div>

        <div class="form-group">
          <label for="quantity">Quantity</label>
          <input type="number" [(ngModel)]="product.quantity" [ngModelOptions]="{standalone: true}" class="form-control" id="quantity" placeholder="Enter quantity">
        </div>

        <div class="form-group">
          <label for="price">Price</label>
          <input type="number" [(ngModel)]="product.price" [ngModelOptions]="{standalone: true}" class="form-control" id="price" placeholder="Enter price">
        </div>


        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</div>
