<div class="row">
  <div class="col-sm-12">
    <form #productForm="ngForm" (ngSubmit)="onSubmit()">
      <input type="file"(change)="selectFile($event.target.files)" accept=".{{type}}"  id="xlsFile">
      <button type="submit" class="btn btn-primary">Import</button>
    </form>
  </div>
</div>
